.wrapper {
  max-inline-size: 1110px;
  margin: auto;
  padding-inline-start: 16px;
  padding-inline-end: 17px;
}

@media screen and (min-width: 768px){
  .wrapper {
    padding-inline-start: 39px;
    padding-inline-end: 40px;
  }
}